@charset "UTF-8";

html {
    background-color: #163301;
}



a:link {
    color: white;
	font-weight:bold;
    font-style:underline;
}

a:hover {
    color: #d1ffe0;
	font-weight:bold;	
}

a:visited {
	color:#a0d1b0;
}
h1 {
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    min-height: 323px;
    max-width: 900px;
    width: 100%;
    color:#163301;
}

.headerImg {
    background-image: url("images/swing5s.jpg");
    min-height: 323px;  
    background-color:green;
    width: 300px;
    }
    
div {
    font-family: Helvetica, sans-serif;
    margin: 1em auto;
    width: 100%;
	padding: 8px;
    color:white;
    position: relative;
}

.c_column {
    text-align: center;
}

    
    
#nav {
    background-color:green;
    width:auto;
    text-align:left;

}

#nav ul {
    padding: 20px;
    display:table;
    float: left;
}

#nav li {
    text-align: left;
    padding: 8px;
    display:table;
    border-style:none;
   
}

#nav a {
	padding-left:7px;
	padding-right:7px;
}


#columnImage {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
    border-radius: 3px;
}

.l_column {
    float: none;
    padding:0px;
    display: inline-block; 
    min-height: 0px;
    }

.r_column {
    float: none;
    padding:0px;
    display: inline-block; 
    min-height: 0px;
    }

.c_column {
    float: none;
    padding:0px; 
    display: table; 
    min-height: 0px;
    max-width: 300px; 
    }
    

